{% extends "layout.html" %}
{% block content %}
    <h1>sussy baka</h1>
    <form method=post enctype=multipart/form-data action=upload>
        <input type=file name=file>
        <input type=submit value=convert!>
    </form>
    {% if folder %} 
        {% if uploaded %}
            <div>
                <img src="{{ url_for(folder, filename=uploaded) }}" width="400" height="400" >
            </div>
        {% endif %}
        {% if converted %} 
            <div>
                <img src="{{ url_for(folder, filename=converted) }}" width="400" height="400">
            </div>
        {% endif %}
    {% endif %}
{% endblock %}